.todo-list-template {max-width: rem(234px); padding: rem(10px);}
.title {font-size: rem(30px); margin-bottom: rem(20px);}
.create-button {@include flexSort(center, center); padding: rem(8px) rem(6px) rem(7px); background-color: $primary-color; font-size: rem(16px); cursor: pointer}
.form {@include flexSort(flex-start, center); height: rem(30px); margin-bottom: rem(16px);}
input {height: 100%; padding: rem(2px) rem(10px); border: rem(1px) solid $primary-color; border-right: 0; border-top-left-radius: rem(4px);border-bottom-left-radius: rem(4px);}
.todo-item {
    @include flexSort(flex-start, end); gap: rem(8px); margin-bottom: rem(8px);
    &:hover .remove {visibility: visible;}
}
.remove {visibility: hidden; font-size: rem(20px); cursor: pointer;}
.todo-text {
    cursor: pointer;
    &.checked {text-decoration: line-through;}
}